<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenPulse</title>
    {% load static %}
    <script src="{% static 'main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://d3js.org/d3.v4.js"></script>
</head>
<body>

{% include 'sp500/quiz.html' %}

<div class="banner">
    <h1>GreenPulse</h1> <button onclick="openModal()">Take A Recommendation Quiz</button>
</div>

<div class="container">
    <div class="table-container">
        <table>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Industry</th>
                <th>E</th>
                <th>S</th>
                <th>G</th>
                <th>Score</th>
            </tr>
            {% for c in mycompanies %}
            <tr class="visible" onclick="showGraph('{{ c.symbol }}')">
                <th>{{ c.symbol }}</th>
                <th>{{ c.name }}</th>
                <th class='industry'>{{ c.industry }}</th>
                <th class='e'>{{ c.E }}</th>
                <th class='s'>{{ c.S }}</th>
                <th class='g'>{{ c.G }}</th>
                <th class='esg'>{{ c.ESG }}</th>
            </tr> 
            {% endfor %}
        </table>
    </div>
    <div class="fixed-div">
        <div class="graph">
            <div id="chart"><h2>Select a company to get started</h2></div>
        </div>
        <div class='info-section'>
            <div class='table-info'>
                <button onclick="calculateAvgESG()">Calculate Average ESG for Table</button>
                <h2 id='avg_esg'>Average ESG Score: </h2>
                <h3 id='avg_e'>Average E Score: </h3>
                <h3 id='avg_s'>Average S Score: </h3>
                <h3 id='avg_g'>Average G Score: </h3>
            </div>
            <div class='graph-info'>
            </div>
        </div>
    </div>
</div>

</body>
</html>
