<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenPulse</title>
    {% load static %}
    <script src="{% static 'main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://d3js.org/d3.v4.js"></script>
</head>
<body>

{% include 'sp500/quiz.html' %}

<div class="banner">
    <h1>GreenPulse</h1> <button onclick="openModal()">Take A Recommendation Quiz</button>
</div>

<div class="container">
    <div class="table-container">
        <h3 id='count'> Showing N companies</h3>
        <table>
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Industry</th>
                <th>E</th>
                <th>S</th>
                <th>G</th>
                <th>Score</th>
            </tr>
            {% for c in mycompanies %}
            <tr class="visible" onclick="showGraph('{{ c.symbol }}')">
                <th>{{ c.symbol }}</th>
                <th>{{ c.name }}</th>
                <th class='industry'>{{ c.industry }}</th>
                <th class='e'>{{ c.E }}</th>
                <th class='s'>{{ c.S }}</th>
                <th class='g'>{{ c.G }}</th>
                <th class='esg'>{{ c.ESG }}</th>
            </tr> 
            {% endfor %}
        </table>
    </div>
    <div class="fixed-div">
        <div class="graph">
            <div id="chart"><h2>Select a company to get started</h2></div>
        </div>
        <div class='info-section'>
            <div class='table-info'>
                <button onclick="calculateAvgESG()">Calculate Table Statistics</button>
                <h2 id='avg_esg'>Mean ESG Risk Score: </h2>
                <p id='avg_e'>Mean E Score: </p>
                <p id='avg_s'>Mean S Score: </p>
                <p id='avg_g'>Mean G Score: </p>
            </div>
            <div class='graph-info'>
                <p id='min'> Min: </p>
                <p id='q1'> Q1: </p>
                <p id='median'> Median: </p>
                <p id='q3'> Q3: </p>
                <p id='max'> Max: </p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <h2> About This Site</h2>
    <p> A company's "Environmental, Social, and Governance" (ESG) risk score evaluates its sustainability in these 3 categories. The lower the risk score, the better. </p>
    <p> This site displays the ESG risk scores for companies in the S&P 500 index fund, and provides statistical analysis for S&P 500's ESG risk score overall. </p>
    <p> The quiz can recommend companies based on your target  risk score or industries. Disclaimer: this is not financial advice.  </p>
</div>
</body>
</html>
