body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0D1E2B;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}
.banner {
    color: #fff;
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid #B0B0B0;
}
.container {
    display: flex;
    height: calc(100% - 140px); /* Adjust height to accommodate banner */
}
.fixed-div {
    flex: 1;
    overflow: hidden;
    flex-direction: column;
}
.graph {
    position: relative;
    top: 0;
    left: 0;
    margin: 30px;
    width: calc(100% - 60px);
    height: 65%;
    /* effects */
    border-style: solid;
    border-width: 1px 2px 3px 2px;
    border-color: #B0B0B0;
    border-radius: 20px;
    box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(#0D1E2B, 80%, #18364C);
}
.graph-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}
.info-section {
    padding-left: 20px;
    display: flex;
}
.table-info {
    flex: 1;
}
.graph-info {
    flex: 1;
}
.footer {
    flex: 1;
    padding: 20px;
    border-top: 2px solid #B0B0B0;
}
.table-content {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
}
.table-container {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td , tr{
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #B0B0B0;
    font-weight: 100;
}
.visible {
    visibility: visible;
}

tr:nth-child(even of .visible) { 
    background-color: #233847;
}
tr:hover {
    cursor: pointer;
    background-color: steelblue;
}
tr:nth-child(even of .visible):hover { 
    background-color: steelblue;
}
tr:nth-child(1):hover { 
    background-color: #0D1E2B;
    cursor: default;
}
#chart {
    color: #67809f;
    text-align: center;
}
svg {
  display: block;
  margin: 0 auto;
}
.xAxis path {
  stroke: #ffffff;
}
.yAxis path {
  stroke: #ffffff;
}
.modal-container{
    visibility: hidden;
    position: fixed;
    width: 100%; 
    height: 100%; 
    background-color: #0D1E2B; 
    overflow: auto; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
#defense {
    z-index: 1; 
}
#media {
    z-index: 2; 
}
#industrial {
    z-index: 3; 
}
#property {
    z-index: 4; 
}
#commercial {
    z-index: 5; 
}
#transportation {
    z-index: 6; 
}
#energy {
    z-index: 7; 
}
#financial {
    z-index: 8; 
}
#healthcare {
    z-index: 9; 
}
#foreign {
    z-index: 10; 
}
#tech {
    z-index: 11; 
}
#ESG {
    z-index: 12; 
}
.modal-content-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#industry-boxes{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
}
#ESG-boxes{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
